.tippedOff_msg {
	padding:6px 6px 6px 6px;
	display:none;
	background-color:#000;
	color:#FFF;
	position:absolute;
	overflow: auto;
	overflow-y: hidden;
	-ms-overflow-y: hidden;
}
.tippedOff_hover {
	border-bottom: 1px dotted #e80;
	cursor: help;
}
.tippedOff_hover:hover {
	color: #e80;
	font-style: italic;
}
.round_edges {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	behavior: url(border-radius.htc); /* IE */
}
.blue_border{border:3px solid #0092C7;}